<link rel="stylesheet" href="../css//dashboard.css">

<body class="bg">
    <header>
        <h1>ChatApp Dashboard</h1>
        <span class="user">
            <h3>Welcome {{currentUserName}} let's enjoy ur chat...!</h3>
        </span>
        <button class="top">
            <a href="#home" class="active" ui-sref="login">Sign out</a>
        </button>
    </header>

    <section>
        <div class="left">
            <h2>Contact List</h2>
            <hr>
            <div class="name">
                <p ng-repeat="x in allUser" ng-click="person(x)" ng-show="currentUserName!=x.name">
                    {{x.name}}
                </p>
            </div>
        </div>
        <div class="right">
            <h2>Chat Details</h2>
            <hr>
            <div class="name1">
                <p class="username">
                        {{currentUserName}} chat with {{receiverUserName}}
                </p>
            </div>
            <article>
                <section>
                    <div class="chatLogs" ng-repeat="chat in allUserArr">
                        <div class="chat user" ng-show="currentUser != chat.senderUserId">
                            <p class="chatMsg"> {{chat.message}}</p>
                        </div>
                        <div class="chat self" ng-show="currentUser == chat.senderUserId">
                            <p class="chatMsg"> {{chat.message}}</p>
                        </div>
                    </div>
                </section>
                <div>
                    <span>
                        <div class="bottom">
                            <textarea id="txt" cols="20" rows="5" ng-model="message"
                                placeholder="Type text here...."></textarea>
                            <button class="btn" type="button" ng-click=sendmessage();>send</button>
                        </div>
                    </span>
                </div>
            </article>
        </div>
    </section>
</body>