<link rel="stylesheet" href="../css//dashboard.css">


<header>
    <h1>ChatApp Dashboard</h1>
    <h3>{{currUserName}}</h3>
</header>
<div class="left">
    <h2>Contact List</h2>
    <hr>
    <p ng-repeat="x in allUser" ng-click="person(x)" ng-show="currUserName!=x.name">
        {{x.name}}
    </p>
    <button class="btn">
        <a href="#home" class="active" ui-sref="login">Sign out</a>
    </button>
</div>
<div class="right">
    <h2>Chat Details</h2>
    <hr>
    <div class="bottom">
        <textarea name="" id="txt" cols="20" rows="5"></textarea>
        <button>Submit</button>
    </div>
</div>