<html>
<title>Forgot Password</title>

<head>
    <link rel="stylesheet" href="../css/forgotPassword.css">
</head>
<div id="login-box">
    <div class="main">
        <h1>Forgot Password</h1><br><br>
        <input type="text" name="email" placeholder="Register Email" ng-model="email"/>
        <input type="submit" name="forgot_submit" value="submit" ng-click="forgotPassword()" />
        <p class="message">
            Back to login ?
            <span ui-sref="login"><a href="">Sign in</a> </span>
        </p>
    </div>
</div>

</html>