<html>
<title>Registration Form</title>

<head>
    <link rel="stylesheet" href="../css/registrationForm.css">
</head>
<div id="login-box">
    <div class="main">
        <h1>Create new Account</h1><br><br>
        <input type="text" name="name" placeholder="Enter ur name" />
        <input type="text" name="email" placeholder="Enter ur email" />
        <input type="text" name="password" placeholder="Enter the password" />
        <input type="text" name="confirmPassword" placeholder="confirm Password" />
        <input type="submit" name="register_submit" value="Register" />
        <!-- <p class="message">
            Already have an account ? <a ui-sref="login"> Sign In </a>
        </p> -->
    </div>
</div>

</html>