<html>
<title>Reset Password</title>

<head>
    <link rel="stylesheet" href="../css/resetPassword.css">
</head>
<div id="login-box">
    <div class="main">
        <h1>Reset Password</h1><br><br>
        <input type="text" name="Password" placeholder="New Password" ng-model="Password"/>
        <input type="text" name="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" />
        <input type="submit" name="reset_submit" value="Reset" ng-click="resetPassword()"/></a>
        <p class="message">
            Back to login ?
            <span ui-sref="login"><a href="">Sign in</a> </span>
        </p>
    </div>
</div>

</html>