* {
  box-sizing: border-box;
}
h2, h3{
  text-align: center;
  font-weight: bold;
}
hr{ 
  height: 1px;
  color: black;
  background-color: black;
  border: none;
}
header {
  background-color:#16a085;
  padding: 1px;
  text-align: center;
  font-size: 100%;
  color: black;
  border: groove;
}
.left {
  background-color:lightgrey;
  float: left;
  padding: 20px;
  width: 30%;
  height: 550px; 
  color: black;
  overflow: scroll;
  border: 1px  groove;
}
.right {
  background-color:lightgrey;
  float: left;
  padding: 20px;
  width: 70%;
  height: 550px;
  color: black;
  overflow: scroll;
  border: 1px  groove;
}
.top{
  margin-left: 90%;
  padding: 1%;
  border-radius: 10%;
}
.top a{
  text-decoration: none;
  color: black;
}
.bottom{
  margin-top: 340px;
}

.user .chatMsg {
  background-color:lightgreen;
  text-align:center;
  border: groove 2px;
  width:50%;
  margin-right:400px;
  margin-left:10px;
  padding:10px;
  text-align: left;
  word-wrap: break-word;
  border-radius: 25px 25px 25px 0px;
}

.self .chatMsg {
  background-color:lightskyblue;
  text-align:center;
  border: groove 2px;
  width:50%;
  margin-left:400px;
  margin-right:10px;
  padding:10px;
  text-align: right;
  word-wrap: break-word;
  border-radius: 25px 25px 0px 25px;
}
::placeholder {
  color: black;
  font-size: 100%;
  margin-left: 0%; 
  text-align: center;
  padding: 2%;
}

.bottom {
  position: relative;
}
.bottom textarea {
  width: 100%;
  height: 12%;
  box-sizing: border-box;
}
.bottom button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2%;
  padding: 1%
}
.name p{
  margin-left: 10%; 
  font-size: 120%;
}
.name p:hover{
  /* background-color: white; */
  color: teal;
}
.name1 p{
  font-size: 150%;
}