* {
  box-sizing: border-box;
}
h1{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 250%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 150%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h3{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 180%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
hr{ 
  height: 1px;
  color: black;
  background-color: black;
  border: none;
}
header {
  background: url(/assets/bg1.jpg) repeat 0 0;
  padding: 1px;
  text-align: center;
  font-size: 100%;
  color: black;
  border: groove;
}
.left {
  background: url(/assets/bg1.jpg) repeat 0 0;
  float: left;
  padding: 20px;
  width: 30%;
  height: 550px; 
  color: black;
  overflow: scroll;
  border: 1px  groove;
}
.left img{
  position: relative;

}
.right {
  background: url(/assets/bg2.jpg) repeat 0 0;
  float: left;
  padding: 20px;
  width: 70%;
  height: 550px;
  color: black;
  overflow: scroll;
  border: 1px  groove;
}
.top{
  margin-left: 90%;
  padding: 1%;
  border-radius: 10%;
}
.top a{
  text-decoration: none;
  color: black;
}
.bottom{
  margin-top: 340px;
}

.user .chatMsg {
  box-shadow: 10px 10px 5px #aaaaaa;

  background-color:lightgreen;
  text-align:center;
  border: groove 2px;
  width:50%;
  margin-right:400px;
  margin-left:10px;
  padding:10px;
  text-align: left;
  word-wrap: break-word;
  border-radius: 25px 25px 25px 0px;
}

.self .chatMsg {
  box-shadow: 10px 10px 5px #aaaaaa;

  background-color:lightskyblue;
  text-align:center;
  border: groove 2px;
  width:50%;
  margin-left:400px;
  margin-right:10px;
  padding:10px;
  text-align: right;
  word-wrap: break-word;
  border-radius: 25px 25px 0px 25px;
}
.username{
  background: url(/assets/bg1.jpg) repeat 0 0;
  border: groove 2px;
  width:100%;
  padding:10px;
  text-align: center;
  word-wrap: break-word;
  border-radius: 25px 25px 25px 25px;
}
::placeholder {
  color: black;
  font-size: 100%;
  margin-left: 0%; 
  text-align: center;
  padding: 2%;
}

.bottom {
  position: relative;
}
.bottom textarea {
  /* background: url(/assets/bg1.jpg) repeat 0 0 !important; */
  width: 100%;
  height: 15%;
  box-sizing: border-box;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF
}
.bottom button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2%;
  padding: 1%
}
.name p{
  margin-left: 10%; 
  font-size: 150%;
}
.name p:hover{
  color: white;
  font-size: 20px;
}
.name1 p{
  font-size: 150%;
  text-align: center;
}
